<h1>Listing crews</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crews.each do |crew| %>
  <tr>
    <td><%= link_to crew.name, crew %></td>
    <% if user_signed_in? %>
    <td><%= link_to 'Edit', edit_crew_path(crew) %></td>
    <td><%= link_to 'Destroy', crew, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crew', new_crew_path %>
