<h1>Listing bboys</h1>

<table>
  <tr>
    <th>Bboy Name</th>
    <th>Crew(s)</th>
    <th></th>
  </tr>

<% @bboys.each do |bboy| %>
	<tr>
		<td><%= link_to bboy.bboyName, bboy %></td>    
		<td><%= bboy.crews.uniq.collect{|c| link_to c.name, c}.to_sentence.html_safe  %></td>
		<td><%= link_to "Edit", edit_bboy_path(bboy) if user_signed_in? %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New Bboy', new_bboy_path if user_signed_in? %>
